/*Reset*/
body, ul, p {
  margin: unset;
  padding: unset;
}

h1, h2 {
  margin: unset;
  font-size: unset;
  font-weight: unset;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
}

/* Layout */
.l_wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 30px;
}

/*Design*/
body {
  background-color: #DDDDDD;
}

.header {
  background-image: url(./images/insideout-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.header-title {
  min-height: 400px;
  display: flex;
  align-items: center;
}

.header-title h1 {
  background-color: #EA3629;
  color: white;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
  border-radius: 8px;
  height: 148px;
  line-height: 148px;
  flex-basis: 0;
  flex-grow: 1;
}

.l_col {
  margin: 80px 0;
}

.main-contents {
  background-color: white;
  padding: 0 40px 0 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 60px;
  border-radius: 12px;
}

.contents-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contents-text h2 {
  margin-top: 30px;
  margin-left: auto;
  font-size: 32px;
  font-weight: 900;
}

.text {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  color: #aaaaaa;
  line-height: 1.6;
}

.text p {
  text-align: right;
  margin-bottom: 34px;
}

.main-contents img {
  width: 240px;
}

.l_col:nth-child(even) .main-contents {
  display: flex;
  flex-direction: row;
}

.l_col:nth-child(even) .contents-text h2 {
  margin-left: 0;

}

.l_col:nth-child(even) .text p {
  text-align: left;
}

.l_col:first-child .contents-text h2 {
  color: #FFAD08;
}

.l_col:first-child .contents-text h2::after {
  content: '';
  display: block;
  width: 77px;
  height: 10px;
  background-color: #FFE53C;
  border-radius: 20px;
}

.l_col:nth-child(2) .contents-text h2 {
  color: #578DF9;
}

.l_col:nth-child(2) .contents-text h2::after {
  content: '';
  display: block;
  width: 173px;
  height: 10px;
  background-color: #B3E2FF;
  border-radius: 20px;
}

.l_col:nth-child(3) .contents-text h2 {
  color: #E9292C;
}

.l_col:nth-child(3) .contents-text h2::after {
  content: '';
  display: block;
  width: 131px;
  height: 10px;
  background-color: #FF9680;
  border-radius: 20px;
}